/*
 * Fonts
 */

@font-face {
  font-family: 'home-icons';
  src: url('font/home-icons.eot');
  src: url('font/home-icons.eot#iefix') format('embedded-opentype'),
       url('font/home-icons.woff') format('woff'),
       url('font/home-icons.ttf') format('truetype'),
       url('font/home-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "home-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-bath:before{content:'\0041';}
.icon-bed:before{content:'\0042';}
.icon-home:before{content:'\0043';}
.icon-tree:before{content:'\0044';}

/*
 * Scaffolding and type
 */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "Lato", sans-serif;
  color: #66482F;
  background: #FFF;
}

@media (min-width: 48em) {
  body { background: #ecf0f1; }
  .container {
    max-width: 45rem;
    background: #FFF;
    margin: 1em auto;
  }
}

a {
  color: #17A282;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: 900;
  line-height: 1;
  color: #4A2C14;
}

h1 { 
  font-size: 1.75rem; 
}

@media (min-width: 38em) {
  h1 {
    font-size: 3rem; 
  }
}

h2 {
  font-size: 2.5rem; 
}
h3 { 
  font-size: 1.75rem; 
  font-weight: bold;
}
h4 { font-size: 1.25rem }

p {
  margin: 0 0 1rem;
}

ul { margin: 0; }

.lead {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

@media (min-width: 38em) {
  .lead {
    font-size: 1.4rem;
  }
}

blockquote {
  position: relative;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: #7a7a7a;
}
blockquote p {
  margin-bottom: 0;
}

ul li {
  margin-bottom: .25rem;
}

/* Tighten up margin on last items */
p:last-child,
ul:last-child,
blockquote:last-child{
  margin-bottom: 0;
}


/*
 * The Grid
 */

.col {
  padding: 2rem 1rem;
}

.col p {
  max-width: 40rem;
}


@media (min-width: 38em) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .section--flip {
    direction: rtl;
  }
  
  .section--flip h3, .section--flip p, .section--flip ul {
    direction: ltr; 
  }
  .col {
    display: table-cell;
    vertical-align: top;
  }
}
@media (min-width: 48em) {
  .col {
    padding: 3rem;
  }
}

.photo {
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.photo figure { display: none; }

/*
 * Masthead
 */

.masthead {
  text-align: center;
  text-transform: uppercase;
  background: #CCC;
  position: relative;
  overflow: hidden;
}

.masthead-photo img {
  margin-top: -2rem; 
}

.masthead-wrapper {
  background: rgba(34, 34, 34, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.masthead-inner {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.masthead-text {
  display: table-cell; 
  vertical-align: middle;
}

.masthead h1 {
  font-weight: 900;
  margin-bottom: .25rem;
  color: #FFF;
}

.masthead p {
  color: #FFF; 
  margin-bottom: .25rem;
}

@media (min-width: 38em) {
  .masthead-text {
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
}


/*
 * Ribbon
 */

.ribbon-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

@media (min-width: 48em) {
  .ribbon-wrapper {
    width: 120px;
    height: 120px;
  }
}

.ribbon {
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
  background-color: #17A282;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: .8rem;
  font-weight: 800;
  line-height: 1.5em;
  padding: 2px 7px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 15px;
  width: 140px;
}

@media (min-width: 48em) {
  .ribbon {
    width: 160px;
    top: 20px;
  }
}


/*
 * Features
 */

.features {
  padding: 2rem 0;
}

@media (min-width: 48em) {
  .features {
    padding: 3rem 0;
  }
}

.features .col {
  padding: 0 1rem;
  
  @media (min-width: 48em) {
    padding: 0 3rem;
  }
}

/*
 * Feature Icons
 */

.feature-icons {
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-icons .icon {
  display: inline-block;
  margin: 0 .25rem;
}

.feature-icons .icon:before {
  display: block;
  font-size: 2rem;
  margin: 0 0rem;
  width: auto;
}


@media (min-width: 38em) {
  .feature-icons .icon {
    margin: 0 1rem;
  }
}

/*
 * Price
 */

.price {
  text-align: center; 
}

/*
 * Sections
 */

.heading {
  padding: 2rem 1rem 1.5rem;
  background-color: #dfe1e8;
}

@media (min-width: 38em) {
  .heading {
    padding: 3rem 3rem 2.5rem;
  }
}

.section {
  border-bottom: 1px solid #ecf0f1;
}


/*
 * Footer
 */

.footer {
  padding: 2rem 1rem;
  font-size: 90%;
  text-align: center;
}
.footer p {
  margin-bottom: .5rem;
}

.quick-links {
  list-style: none;
  margin-left: 0;
  line-height: 0.8;
  margin-bottom: 1.5em;
}
.quick-links li {
  display: inline;
}

.quick-links li + li {
  margin-left: .5rem;
}


/*
 * Map
 */

.map {
  height: 15rem;
  position: relative;
}

@media (min-width: 38em) {
  .map {
    height: 20rem;
  }
}


#map { position:absolute; top:0; bottom:0; width:100%; }


/* 
 * Gallery
 */

.row {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 30px;
  position: relative;
}

.demo-gallery {
  width: 100%;
  height: auto;
  float: left;
}
.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 171px;
  line-height: 0;
}

.demo-gallery figure {
  display: none;
}
.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}

a.demo-gallery__img--main {
  width: auto;
  height: auto;
}



@media screen and (max-width: 700px) {

  .row--nav {
    font-size: 18px;
    line-height: 26px; 
  }

  .demo-gallery {
    max-width: 500px;
  }
  .demo-gallery a {
    width: 120px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 164px;
  }
  .section--head p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .demo-gallery a {
    width: 100px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 137px;
  }
}



@media screen and (max-width: 450px) {
  .demo-gallery a {
    width: 95px;
    margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 127px;
  }
}


@media screen and (max-width: 350px) {
  .demo-gallery a {
    width: 81px;
margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 109px;
  }
}



