<footer class="footer">
  <p>Share with your friends</p>

  <ul class="quick-links">
    <li class="share-btn">
      <div class="fb-share-button" data-href="{{ site.url }}" data-layout="button_count"></div>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal">Tweet</a>
    </li>
  </ul>
  
  <small>Website built by <a href="http://www.michaelmartin.ca">Michael Martin</a>. Magically deployed with <a href="https://surge.sh/">Surge</a>.</small>
  
  
</footer>
