<header class="masthead">
    <a href="https://farm8.staticflickr.com/7778/17553342343_53a62d5e56_h.jpg" data-size="1600x1067" data-med="https://farm8.staticflickr.com/7778/17553342343_4434483510_b.jpg" data-med-size="1024x683" data-author="Sid Williams" class="photo masthead-photo">
      <img src="https://farm8.staticflickr.com/7778/17553342343_4434483510_b.jpg" alt="" />
      <figure>4 Spruce Court, Witless Bay, NL</figure>
    </a>
    <div class="masthead-wrapper">
      <div class="masthead-inner">
        <div class="masthead-text">
          <p>Witless Bay, NL</p>
          <h1>4 Spruce Court</h1>
        </div>
      </div>
    </div>
    <div class="ribbon-wrapper">
      <div class="ribbon">For Sale</div>
    </div>
</header>




