<header class="masthead">
    <a href="https://farm9.staticflickr.com/8760/18147719156_3b9d36db0f_h.jpg" data-size="1600x1077" data-med="https://farm9.staticflickr.com/8760/18147719156_f3d1a50133_b.jpg" data-med-size="1024x689" data-author="Sid Williams" class="photo masthead-photo demo-gallery__img--main">
      <img src="https://farm9.staticflickr.com/8760/18147719156_f3d1a50133_b.jpg" alt="" />
      <figure>4 Spruce Court, Witless Bay, NL</figure>
    </a>
    <div class="masthead-wrapper">
      <div class="masthead-inner">
        <div class="masthead-text">
          <p>Witless Bay, NL</p>
          <h1>4 Spruce Court</h1>
        </div>
      </div>
    </div>
    <div class="ribbon-wrapper">
      <div class="ribbon">For Sale</div>
    </div>
</header>




