<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="google-site-verification" content="4hcc5TxNfaKkfWjvbVFCE3OXCcQ2Zh9x1BBD8of67R4" />

    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:type" content="article">
    <meta content="{{ site.url }}" property="og:url">
    <meta property="og:image" content="{{ site.image }}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="380">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mikemartin604">
    <meta name="twitter:creator" content="@mikemartin604">
    <meta name="twitter:title" content="{{ site.name }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image:src" content="{{ site.image }}">
   
    <link rel="image_src" href="{{ site.image }}">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <title>
      {{ site.name }}
    </title>

    <link rel="stylesheet" href="4spruce.css">
    <link href="vendor/photoswipe.css" rel="stylesheet" />
    <link href="vendor/default-skin/default-skin.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,900|Playfair+Display">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
        
  </head>
  <body>
    <div class="container gallery">
      {% include header.html %}

      {{ content }}
    </div>
      
    {% include footer.html %}

    {% include js.html %}
    {% include photoswipe.html %}
  </body>
</html>
